*{margin: 0; padding: 0; box-sizing: border-box}
body {
    font-family: "Familjen Grotesk", sans-serif;
    background-color: #D9D9D9;
    display: grid;
    grid-template-rows: 0.5fr 1fr auto;
    height: 100vh;
    margin: 0;
    padding: 5px;      
}
header {
    background: url('../Img/Fondo-de-encabezado3.jpg') no-repeat center center / cover;
    color: #FFFFFF;    
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: 20px 20px 0 0
}

.encabezado {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    padding-top: 5px;
    padding-bottom: 10px; 
}

.encabezado h1 {
    padding-left: 10px;
}
nav {
    display: flex;
    color: #FFFFFF;
    padding-right: 10px;
}
nav ul {
    display: flex; /* Alinea los elementos de la lista en línea */    
    list-style-type: none; /* Quita los puntos de la lista */
    justify-content: left;
    padding: 0; /* Quita el relleno */
    margin: 0; /* Quita los márgenes */
    gap: 15px;
}
nav li {
    margin-top: 5px;    
}
nav a {
    color: inherit; /* Hereda el color del elemento padre */
    text-decoration: none; /* Elimina el subrayado */    
}

.presentacion {
    display: flex;
    flex-direction: column;    
    justify-content: center; 
    padding: 5px;    
    gap: 15px;
}

.presentacion-titulo {
    display: flex; 
    justify-content: center;   
}

.presentacion-titulo h2{
    border-bottom: 2px dashed #FFFFFF;;
}

.presentacion-descripcion {
    padding: 0px 30px 10px 30px;
}
/*Cuerpo de la web*/
main {
    background-color: #FFf;
    color: #353535;
    display: grid;
    grid-template-rows: auto auto; 
    padding: 5px;    
}
 /*presentacion a proyectos*/
.presentacion-proyecto {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5%;    
}

.presentacion-proyecto h3 {
    border-bottom: 2px solid #353535;
}

.presentacion-proyecto p {
    padding-right: 10%;
    text-align: justify;
}

/*seccion de proyectos*/
.portafolio {
    background-color: #fff;
    color: #353535;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    height: 80vh; /* Ocupa toda la altura de la pantalla */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.proyecto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img-proyecto {
    background-color: #353535;
    height: 12rem;    
    margin: 5px 0px;
}

.img-proyecto img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta cómo se recorta la imagen */
}

.descripcion-proyecto p{
   margin-top: 5px;   
   padding-right: 10px;
   text-align: justify; 
}


footer {    
    padding: 1rem;
    text-align: center;

}